<ion-content fullscreen>
  <div class="top-cut-bg">
    <ion-buttons>
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <img src="../../assets/img/App_Icon.png" class="admin-image"
      style="position: absolute; top:6px; right:15px; box-shadow: none!important; height: 40px;" />
  </div>

  <ion-grid>
    <h6 style="text-align: center;margin-top: auto;margin-bottom: auto;">Daily Stats</h6>

    <ion-row class="ion-justify-content-center">


      <ion-col size=6>
        <div class="white-box">
          <ion-card-header>

            <ion-card-subtitle class="ion-card-subtitle-header">
              Answered 
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>

            <canvas #pieChartCanvas1></canvas>

          </ion-card-content>
          <ion-card-subtitle>
            74/100 =74%
          </ion-card-subtitle>

        </div>

      </ion-col>

      <ion-col size=6>
        <div class="white-box">
          <ion-card-header>
            <ion-card-subtitle class="ion-card-subtitle-header">
              Abandoned
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <canvas #pieChartCanvas2></canvas>
          </ion-card-content>
          <ion-card-subtitle>
            5/100=5%
          </ion-card-subtitle>
        </div>

      </ion-col>

    </ion-row>
  </ion-grid>



  <ion-grid>
    <h6 style="text-align: center;margin-top: auto;margin-bottom: auto;">Live Stats</h6>

    <ion-row class="ion-justify-content-center">

      <ion-col size=4>
        <div class="white-box">
          <ion-card-header>
            <ion-card-subtitle class="ion-card-subtitle-header">
              Active
            </ion-card-subtitle>
            <ion-card-subtitle>
              9
            </ion-card-subtitle>
          </ion-card-header>
        </div>

      </ion-col>

      <ion-col size=4>
        <div class="white-box">
          <ion-card-header>
            <ion-card-subtitle class="ion-card-subtitle-header">
              Queue
            </ion-card-subtitle>
            <ion-card-subtitle>
              12
            </ion-card-subtitle>
          </ion-card-header>
        </div>

      </ion-col>

      <ion-col size=4>
        <div class="white-box">
          <ion-card-header>
            <ion-card-subtitle class="ion-card-subtitle-header">
              Waiting
            </ion-card-subtitle>
            <ion-card-subtitle>
              00:10
            </ion-card-subtitle>
          </ion-card-header>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>


  <ion-grid>
    <h6 style="text-align: center;margin-top: auto;margin-bottom: auto;">Agent Group Stats</h6>

    <ion-row class="ion-justify-content-center">


      <ion-col size=4>
        <div class="white-box">
          <ion-card-header>
            <ion-card-subtitle class="ion-card-subtitle-header">
              ABN Time
            </ion-card-subtitle>
            <ion-card-subtitle>
              10
            </ion-card-subtitle>
          </ion-card-header>
        </div>

      </ion-col>

      <ion-col size=4>
        <div class="white-box">
          <ion-card-header>
            <ion-card-subtitle class="ion-card-subtitle-header">
              ACW
            </ion-card-subtitle>
            <ion-card-subtitle>
              8
            </ion-card-subtitle>
          </ion-card-header>
        </div>

      </ion-col>

      <ion-col size=4>
        <div class="white-box">
          <ion-card-header>
            <ion-card-subtitle class="ion-card-subtitle-header">
              AUX
            </ion-card-subtitle>
            <ion-card-subtitle>
              12
            </ion-card-subtitle>
          </ion-card-header>
        </div>
      </ion-col>



      <ion-col size=4>
        <div class="white-box">
          <ion-card-header>
            <ion-card-subtitle class="ion-card-subtitle-header">
              On Call
            </ion-card-subtitle>
            <ion-card-subtitle>
              10
            </ion-card-subtitle>
          </ion-card-header>
        </div>

      </ion-col>

      <ion-col size=4>
        <div class="white-box">
          <ion-card-header>
            <ion-card-subtitle class="ion-card-subtitle-header">
              Avail
            </ion-card-subtitle>
            <ion-card-subtitle>
              8
            </ion-card-subtitle>
          </ion-card-header>
        </div>

      </ion-col>

      <ion-col size=4>
        <div class="white-box">
          <ion-card-header>
            <ion-card-subtitle class="ion-card-subtitle-header">
              Logged In
            </ion-card-subtitle>
            <ion-card-subtitle>
              12
            </ion-card-subtitle>
          </ion-card-header>
        </div>
      </ion-col>



    </ion-row>
  </ion-grid>



  <ion-grid>
    <h6 style="text-align: center;margin-top: auto;margin-bottom: auto;">Skills</h6>

    <ion-row class="ion-justify-content-center">


      <ion-col size=12>
        <div class="white-box">


          <table>
            <thead>
              <tr>
                <th>Skill</th>
                <th>RCV</th>
                <th>AVG ACD</th>
                <th>ABN</th>
                <th>ABN%</th>
              </tr>
            </thead>
            <tbody>
              <!-- Dummy Data Rows -->




              <tr>
                <td>Imperial</td>
                <td>200</td>
                <td>20</td>
                <td>20</td>
                <td>10</td>
              </tr>

              <tr>
                <td>General</td>
                <td>15</td>
                <td>25</td>
                <td>21</td>
                <td>25</td>
              </tr>



            </tbody>
          </table>


        </div>

      </ion-col>


    </ion-row>
  </ion-grid>


<ion-grid>
  <div>
    <p>&nbsp;
    </p>
  </div>
</ion-grid>

</ion-content>

<ion-footer>
  <ion-tabs>



    <ion-tab-bar slot="bottom" class="ion-no-border">
      <ion-tab-button>
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button class="comments">
        <ion-icon name="add-circle"></ion-icon>
        <ion-label>Agents</ion-label>
      </ion-tab-button>

      <!-- <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg">
        <path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd">
        </path>
      </svg> -->

      <ion-tab-button class="notifs">
        <ion-icon name="notifications"></ion-icon>
        <ion-label>Service Level</ion-label>
      </ion-tab-button>

      <ion-tab-button>
        <ion-icon name="briefcase"></ion-icon>
        <ion-label>Daily Stats</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-footer>